extends layout

block content
 h1= title
 p Welcome to #{title}
 p
  label UserName:
  input#userName(type="text" data-bind="value: userName")
 p
  label Password:
  input#password(type="text" data-bind="value: password")
 p
  input#submitButton(type="submit" data-bind="click: signin" value="signin")
 script(src='//raw.githubusercontent.com/quirkey/sammy/master/lib/min/sammy-latest.min.js')
 script(src='knockout/knockout-latest.js')
 script(src='//cdnjs.cloudflare.com/ajax/libs/knockout-validation/1.0.2/knockout.validation.min.js')
 script(src='javascripts/index.js')
